/* @theme Yuinana */

/* The Marp theme in use */
/* See: https://github.com/marp-team/marp-core/blob/main/themes/README.md */
@import "default";

/* Syntax highlighting with Prisma */
/* Choice in: https://github.com/PrismJS/prism-themes/tree/master/themes */
@import url("https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/themes/prism.min.css");

/* Import custom theme */
@import "global";
@import "utility";
